* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'StratosSkyeng';
  src:
    url('https://skyofchange.ru/static/fonts/StratosSkyeng.woff2')
      format('woff2'),
    url('https://skyofchange.ru/static/fonts/StratosSkyeng.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body,
input,
button,
select,
textarea,
li,
span,
div,
a,
h2 {
  font-family:
    'StratosSkyeng',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}

body {
  font-family: var(--font-montserrat), 'Arial';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
input,
button {
  font-family: var(--font-montserrat), 'Arial';
}

a {
  text-decoration: none;
}
.container {
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background-color: #181818;
}
